@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --base: #20202f;
  --form-container: #0b0b12;
  --primary-cta: #2f80ed;
  --primary-text: #fff;
  --secondary-text: #4e4e57;
  --form-fields: #161626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--secondary-text);
  background: var(--base);
  font-family: Arial, Helvetica, sans-serif;
}
